/* Utility Classes */
.dice-blue {
  color: #337af8;
}

.red {
  color: orangered;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: RGBA(255, 228, 225, .5);
}

.btn-aliceblue {
  /* background-color: aliceblue; */
  background-color: #E9F1FC;
}

.btn-light {
  background: #efeff3 !important;
}

.half-opacity {
  opacity: .65;
}

.pointer {
  cursor: pointer;
}

.no-outline {
  outline: none;
}

button:focus,
button:hover,
button:active {
  outline: none;
}

.short-round {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

/*
#randomStudent li {
  font-size: 10%;
} */
.list-group-item.bg-aliceblue {
  background-color: aliceblue !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item,
.list-group-item.bg-aliceblue {
  text-align: left !important;
}

.w-40px {
  width: 40px !important;
}

nav.navbar {
  margin-bottom: 10rem !important;
}

.navbar-brand {
  font-size: inherit;
}

nav.navbar-blue {
  background-color: #337af8 !important;
  color: white;
}

#site-navbar {
  margin-bottom: 6rem;
}

/* Overlay for reset modal */
.ui-widget-overlay {
  background: #000;
  opacity: .6;
}

/* Push down the buttons in the mobile nav */
@media all and (max-width: 600px) {

  #navigation-list {
    padding: 2rem 0 0 1rem;

  }
}
